authorization.py
gemini.py
multi.py

pyrogram_session.session 
pyrogram_session.session-journal 

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Python virtual environments
venv/
.venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

